/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 15 oct. 2023, 14:46:35
    Author     : leo
*/

h1{
    margin-top: 20px;
    text-align: center;
}

#DivTabla{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

tr{
    text-align: center;
}

.contenedorQR{
    display: flex;
    justify-content: center;
    padding: 40px 0;
}


td::after {
    content: "";
    display: block;
    width: 1px;
    background-color: #000;
    height: 100%;
}

.table-envio {
    max-width: 1100px;
    border-radius: 10px
}

td, th {
    padding: 10px;
}

button.botonModal{
    background-color: rgb(146, 146, 146);
    border-radius: 5px;
    border-color: lightgray;
}

.modal-content{
    background-color: lightgray;
}

.modal-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    padding: 10px;
    width: 170px;
}

.modal-body{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

.cancel{
    background: rgb(160, 160, 160);
}

.modal-header{
    display: flex;
    flex-direction: column-reverse;
}

.mensaje-no-envios{
    background-color: rgb(33, 37, 41);
    border-radius: 10px; 
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.paquete-escrito{
    font-size: 200px;
}