/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 11, 2023, 9:02:09 PM
    Author     : franc
*/
 
 
 
#cuerpo{
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
         
 
@media  (max-width: 500px) {
    body{
        height: 30%;
        width: 100%;   
    }

    html{
        background-color: green; 
    }

    #divTablaNormales, #divTablaEspeciales{
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        border: solid green;
    }

}

.table_tarifa{
    width: 60%;
    margin: 30px;
}

.subtitle{
    text-align: left;
}

.table{
    margin: 30px;
}