/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 14, 2023, 8:12:28 PM
    Author     : franc
*/

#accordionFlushExample {
    background: gray;
    max-width: 60%;
    width: 62.1%;
}

.acordion{
    display: flex;
    margin: 30px 30px 50px 30px;
    align-items: center;
    justify-content: center;
    width: 200vh;
}

.accordion-item{
    .accordion-button{
        background: rgb(192,192,192);
        border: 1px solid black;
    }
    .accordion-body{
        background: white;
        border: 1px solid black;
    }
}

.form-acordion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px 78px 0px 78px;
    width: 200vh;
    align-items: flex-end;
}

#nombre-apellido {
    height: 36px;
    width: 350px;
    margin-right: 20px;
}

.search {
    margin: 5px auto 0px auto;
    width: 120px;
    padding: 6px 30px 6px 30px;
}