/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 14, 2023, 8:12:28 PM
    Author     : franc
*/
label {
    font-size: 1.2rem;
    margin-bottom: 5px;
}


.form-table {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#dataTable_wrapper {
    max-width: 130vh;
    
}

#dataTable select, option{
    background-color: #2e3744;
}