/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 12 oct 2023, 20:34:38
    Author     : Angelo
*/

.formularioLogin{
    height: 50%;
    width: 400px;
    align-content: center;
    margin: auto;
    border-radius: 15px;
    margin-top: 70px;
    margin-bottom: 70px;
}

@media (max-width: 980px) {
    h1{
        font-size: 100px;
    }
    .formularioLogin {
        font-size: 45px;
        height: 95%;
        width: 95%;
    }

    .form-control{
        font-size: 50px;
    }

    .boton-movil{
        font-size: 50px;
    }
}

#divInicioSesion{
    margin: auto;
    text-align: center;
}

#botonIniciarS{
    width: 99%;
}

.col-auto span{
    color: red;
}

#linksLogin{
    margin: auto;
    text-align: center;
}

.link:hover{
    color:   rgb(255,128, 0, 1);
}

.link-right:hover{
    color:   rgb(255,128, 0, 1);
}

.link{
    text-decoration: none;
    color:  rgb(100, 103, 112);
    font-weight: bold;
}

.link-right{
    display: none;
    text-decoration: none;
    color:  rgb(100, 103, 112);
    float: right;
    font-weight: bold;
}