/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 12 oct. 2023, 12:03:35
    Author     : leo
*/

#accordionFlushExample {
    background: gray;
    max-width: 60%;
    width: 60%;
}

.contenedor{
    margin-top: 70px;
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;
    justify-content: center;
}

.accordion-item{
    .accordion-button{
        background: #666666;
        border: 1px solid black;
    }
    .accordion-body{
        background: gray;
        border: 1px solid black;
    }
}

body {
    background: gray;

}

h1{
    text-align: center;
}
