/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 12 oct. 2023, 12:03:35
    Author     : leo
*/

h1{
    text-align: center;
}

.cuerpo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preguntas{
    width: 60%;
    margin: 40px;
}

@media (max-width: 980px) {
    h1{
        font-size: 70px;
        margin-bottom: 30px
    }
    h4{
        font-size: 50px;
        margin-top: 50px; 
    }
    .cuerpo{
        font-size: 40px;
    }

    .preguntas{
        width: 95%;
        margin: auto;
    }
}

