/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 11 oct 2023, 20:24:48
    Author     : Angelo
*/

.formularioRegistro{
    display: flex;
    align-content: center;
    margin: auto;
    margin-bottom: 40px;
    border-radius: 15px;
    margin-top: 40px;
}

#formularioL{
    margin: auto;
    width: 50   vh;
}

#divRegistrarUsuario{
    margin: auto;
    text-align: center;
    width: 384px;
}

#botonR{
    width: 385px;
}

#divTitulo{
    margin: auto;
    text-align: center;
}

.col-auto span{
    color: red;
}

.ocultarElemento{
    display: none;
}
@media (max-width: 980px) {
    h1{
        font-size: 80px;
    }
    .formularioRegistro {
        font-size: 45px;
        height: 95%;
        width: 100%;
        margin:  0 0 0 0;
        margin-top: 70px;
    }

    #formularioL{
        margin:  0 2.5% 0 2.5%;
        width: 100%;
    }

    .form-control{
        font-size: 50px;
    }

    .boton-movil{
        font-size: 50px;
        width: 100%;
        margin-bottom: 30px;
    }

    #divRegistrarUsuario{
        margin: auto;
        text-align: center;
        width: 100%;
    }

    #botonR{
        width: 100%;
    }

}

