/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25 oct. 2023, 21:07:06
    Author     : leo
*/

.TablaEnvio{
    display: flex;
    justify-content: center;
}

#divDatosClientes{
    display: flex;
    flex-direction: column;
    align-self: center;
}

#divDatosEnvio{
    display: flex;
    flex-direction: column;
    align-self: center;
}

#contenedorEnvio{
    margin-top: 25px;
    margin-bottom: 30px;
    border-collapse: separate;
    border-spacing: 20px 20px;
    border-radius: 15px;
    color: white;
    background-color: #212529;
    border: solid;
}

#contenedorDatosEnvio{
    display: flex;
    justify-content: space-between;
    min-width: 800px;
    padding: 20px;
    padding-bottom: 0px;
}

#contenedorBotonesEnvio{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

#EnvioPagoTexto{
    margin-bottom: 0px;
    border: 1px solid #ff6600;
    padding: 2px;
    color: white;
    border-radius: 5px;
}

.paypal-button{
    height: 150px;
}

.modal-content{
    color: black;
}

.estadoDiv {
    position: relative;
    padding: 20px;
}

.solapa {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 0 10px 0 10px;
    color: black;
    font-weight: bold;
}

#divCodigoRastreo {
    display: flex;
    justify-content: center;

    #divImagen {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-image: transparent;
        background-size: cover;
        background-position: center;
    }
    
    p{
        margin: auto;
    }
}



.clipboardCopyButton{
    background-color: transparent;
    border: none; /* Para quitar el borde predeterminado del botón */
    padding: 10px; /* Ajusta el relleno según sea necesario */
}

.alerta {
    display: none;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}