/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25 oct. 2023, 21:07:06
    Author     : leo
*/

#DivTabla{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

table {
    border-collapse: separate;
    border: 1px solid black;
    border-spacing: 20px 20px;
}