/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 18 oct 2023, 12:54:14
    Author     : Angelo
*/



#contenedorImagenes{
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

#zonasPay{
    margin: auto;
    margin-top: 70px;
}

#zonasAledanias{
    margin: auto;
    margin-top: 70px;
    height: 690px;
}

h2 {
    text-align: center;
}

.table {
    margin: 0px 45px 0px 45px;
    border: solid grey;
    border-collapse: collapse;
}

.table-bordered td, th{
    border-bottom: 1px solid rgb(0,0,0,0.4);
}

.table-bordered th{
    font-size: 1.5rem;
    color: black;
    text-align: center;
    padding: 5px 30px 5px 30px;
    background-color: rgb(192,192,192);
}

.table-bordered td{
    color: black;
    background-color: rgb(192,192,192);
    font-size: 1.5rem;
    text-align: center;
    padding: 5px 5px 5px 5px;
    margin: 10px 45px 10px 10px;
    width: 50%;
}

#tablaPay{
    width: 550px;
    margin-left: 150px;
    margin-top: 40px;
}
#tablaAledanio{
    width: 550px;
    margin-left: 420px;
    margin-top: 40px;
}

#contenedorTablas{
    display: flex;
}

#contenedorTablas h2{
    margin-bottom: 30px;
    margin-left: 50px;
}