/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 18 oct 2023, 12:54:14
    Author     : Angelo
*/

h2 {
    text-align: center;
}

#DivMapa{
    height: 500px;
    width: 700px;
}


#contenido{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    align-items: center;
    margin-bottom: 30px;
}

.coord-link{
    color: white;
}

.table{
    width: 40%;
    position: relative;
}

@media (max-width: 980px) { 
    #DivMapa{
        width: 95%; 
        margin: auto;
    }
    #contenido{
        display: block; 
        margin: auto;
        margin-top: 100px; 
        margin-bottom: 30px;
    }
 
    .table{
        width: 95%; 
        margin: auto;
        margin-bottom: 30px;
        font-size: 40px;
    }
}